.alert {
  display: none;
}
#finalList{
  display: none;
}
.jumbotron {
  text-align: center;
  background-color: rgba(238, 238, 238, .6);
}
.btn {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}
body {
  background-image: url("https://static.pexels.com/photos/69748/pexels-photo-69748.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.panel {
  background-color: rgba(238, 238, 238, .8);
}
